/*pagina central por asi decirlo*/
img{
  vertical-align: middle;
}
#trabajofinal{
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  background-size: 100% 213%;
  background-image: url(img/halo.png);
}
#orden{
  margin-top: 7%;
  margin:3%;
}
.juego {
  width:200px;
  height:200px;
}
.divj {
  display:inline-flex;
  margin-bottom: 5px;
}
.compra{
  border: none;
  cursor: pointer;
  text-shadow: 3px 3px 3px #000000;
  background-color: red;
}
.thxforcomprar{
  color:white;
  padding:80px 5px 40px 5px;
  background-color: red;
  padding-top: 80px;
}
#logo{
  margin-top: 0%;
  color:white;
  font-size:35px ;
  line-height:45px ;
  width: 37%;
}
#registro{
  background-image: url("img/halo.png");
  background-size: 100% 180% ;
  background-repeat: no-repeat;
  padding-left: 35%;
  padding-top: 14.5%;
}
header{
  width: 100%;
  overflow:hidden;
  background:#252932;
  margin-bottom:20px;
  display: block;
}
.referencias1{
  font-size: 27px;
  font-weight: bold;
  float: right;
}
a{
  color: white;
}
/*por si los problemas*/
#consulta{
  background-size: 100% 150%;
    background-image: url(img/halo.png);
}
#boton2{
  background-color: red;
  color:black;
  box-shadow: 2px 2px;

}
#h3{
  color: white;
  text-align: center;
  margin-top: 22%;
  text-decoration:
}
#image{
  height: 200%;
  width: 200%;
}
/*inicio de la pagina*/
#inicio{
  background-size: 100% 170%;
  background-repeat:no-repeat;
  background-image: url("img/halo.png");
}
#inicio2{
 margin-left: 40%;
 margin-top: 20%;
 color: white;
 font-size: 250%;
}
#inicio5{
  text-shadow: 0 0 0.2em #8F7;
}
#inicio3{
  margin-left: 33%;
  font-size: 250%;
}
#inicio4{
 text-shadow: 0 0 0.2em #8F7;

}
/*informacion de juego1*/
.info{
  background-size: 100% 275% ;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image:url("img/lol2.jpg");
}
#info2{
  text-decoration: none;
  color:red;
  padding-left: 30%
}
#info3{
  font-family:"Verdana";
  color: white;
}
/*el registro*/
.nombre{
  color: black;
  width: 60%;
  height: 40%;
  padding: 0.6%
}
.apellido{
  color: black;
  width: 60%;
  height: 40%;
  padding: 0.6%
}
.email{
  color: black;
  width: 60%;
  height: 40%;
  padding: 0.6%
}
.contraseña{
  color: black;
  width: 60%;
  height: 40%;
  padding: 0.6%
}
.cont2{
  color: black;
  width: 60%;
  height: 40%;
  padding: 0.6%
}
#enviar{
  background-color: blue;
  color: red;
}
#numero{
  background-color: red;
  width: 39.5%;
}
/*informacion de MW*/
#infoMW2{
  background-image: url("img/lol2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 360%;
}
#infoMW{
  padding-left: 35%;
  color: white;
}
#infoMF{
  color: white;
  font-weight: bolder;
}
/*info del lol*/
#infolo0{
  background-image: url("img/lol2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 400%;
}
#infolol{
  padding-left: 40%;
  color: blue;
}
#infolol2{
  color: white;
  font-weight: bolder;
}
/*info del advance  W*/
#infoAW{
  background-image: url("img/halo2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 400%;
}
#infoAW4{
  padding-left: 40%;
  color: blue;
}
#infoAW5{
  color: white;
  font-weight: bolder;
}
/*info de dragonballz*/
#infoDF{
  background-image: url("img/lol2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 400%;
}
#infoDF2{
  padding-left: 40%;
  color: blue;
}
#infoDF3{
  color: white;
  font-weight: bolder;
}
/*responsive*/
@media screen and (max-width:600px) {
  #logo {
    text-align: center;
    color: green;
    font-size: 25px;
    padding-left: 153px;
    width: 40%;
  }
  .referencias1 a{
    color:white;
  }
  .referencias1{
    display: block;
    width: 100%;
    text-align: center;
    float: none;

  }
}
