
#trabajofinal{
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  background-size: 100% 135%;
  background-image: url(img/halo.png);
}
#orden{
  margin-top: 7%;
  margin:3%;
}
.juego {
  width:200px;
  height:200px;
}
.divj {
  display:inline-flex;
}
.compra{
  border: none;
  cursor: pointer;
  text-shadow: 3px 3px 3px #000000;
  background-color: red;
}
.compra2{
  color: white;
}
.logo{
  margin-top: 0%;
  color:white;
  font-size:30px ;
  line-height:45px ;
  float: left;
}
#registro{
  background-image: url("img/halo.png");
  background-size: 100% 180% ;
  background-repeat: no-repeat;
  padding-left: 35%;
  padding-top: 14.5%;
}
header{
  width: 100%;
  overflow:hidden;
  background:#252932;
  margin-bottom:20px;
  color: red;
}
#opciones{
  float: right;
  line-height: 30px;
  font-family: monospace;
  height: 30px;
}
.referencias1{
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 20px;
  font-weight: bold;
}
.consultando{
    color:white;
}
.registrando{
    color:white;
}
#contenedor{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  overflow: hidden;
}
#consulta{
  background-size: 100% 150%;
    background-image: url(img/halo.png);
}
.body3{
  background-size: 50% 50%;
    background-image: url(img/halo.png);
}
.body2{
  background-size: 50% 50%;
    background-image: url(img/halo.png);
}
div p2 a {
  color: red;
}
#boton2{
  background-color: red;
  color:black;
  box-shadow: 2px 2px;

}
#h3{
  color: white;
  text-align: center;
  margin-top: 22%;
  text-decoration:
}
#image{
  height: 200%;
  width: 200%;
}
#inicio{
  background-size: 100% 170%;
  background-repeat:no-repeat;
  background-image: url("img/halo.png");
}
#inicio2{
 margin-left: 40%;
 margin-top: 20%;
 color: white;
 font-size: 250%;
}
#inicio5{
  text-shadow: 0 0 0.2em #8F7;
}
#inicio3{
  margin-left: 33%;
  font-size: 250%;
}
#inicio4{
 text-shadow: 0 0 0.2em #8F7;

}
.info{
  padding: 0px;
  border: 0px;
  color:black;
  height: auto;
  margin: auto;
  background-size: 100% 75% ;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background: rgba(0,0,0,0.5);
  background-image:url(img/juego1.jpg);
}
#info2{
  color: red;
}
#info3{
  font-family:"Verdana";
  margin-top: 10%;
  height: 20%;
  padding: 30%;
}
#inicio{

}
#nombre{
  color: black;
  width: 60%;
  height: 40%;
  padding: 0.6%
}
#apellido{
  color: black;
  width: 60%;
  height: 40%;
  padding: 0.6%
}
#email{
  color: black;
  width: 60%;
  height: 40%;
  padding: 0.6%
}
#contraseña{
  color: black;
  width: 60%;
  height: 40%;
  padding: 0.6%
}
#cont2{
  color: black;
  width: 60%;
  height: 40%;
  padding: 0.6%
}
#enviar{
  background-color: blue;
  color: red;
}
#numero{
  background-color: red;
  width: 39.5%;
}
#infoMW2{
  background-image: url("img/lol2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 360%;
}
#infoMW{
  padding-left: 35%;
  color: white;
}
#infoMF{
  color: white;
  font-weight: bolder;
}
#infolo0{
  background-image: url("img/lol2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 400%;
}
#infolol{
  padding-left: 40%;
  color: blue;
}
#infolol2{
  color: white;
  font-weight: bolder;
}
#infoAW{
  background-image: url("img/lol2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 400%;
}
#infoAW4{
  padding-left: 40%;
  color: blue;
}
#infoAW5{
  color: white;
  font-weight: bolder;
}
#infoDF{
  background-image: url("img/lol2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 400%;
}
#infoDF2{
  padding-left: 40%;
  color: blue;
}
#infoDF3{
  color: white;
  font-weight: bolder;
}
@@media screen (min-width:900px){
#infoMW2{

  }
}
