
#trabajofinal{
  background:"img/halo.png";
  background-repeat: no-repeat;
  background-size: 100% 100% ;

  margin: 0px;
  padding: 0px;
  border: 20px 30px
}

#compra{
  border: none;
  color: white;
  cursor: pointer;
  text-shadow: 3px 3px 3px #000000;
  background-color: black;
  right: 30px;

}
#logo{
  margin-top: 0%;
  color:white;
  font-size:30px ;
  line-height:300px ;
  float: left;
}
#registro{
  background="img/halo.png"
  background-size: 100% 100% ;
  background-repeat: no-repeat;
}
header{
  width: 100%;
  overflow:hidden;
  background:#252932;
  margin-bottom:20px;
}

.wrapper{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}
header nav{
  float: right;
  line-height: 300px;
  font-family: monospace;
}
header nav a{
  display: inline-block;
  color:white;
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 20px;
  font-weight: bold;
}
div b {
  margin: auto;
}
body p {
  font-family: fantasy;
  color:
}

body {
background-size: 100% 100%;
  background-image: url(img/halo.png);
}
#consulta{
  background-size: 100% 150%;
    background-image: url(img/halo.png);
}
.body3{
  background-size: 50% 50%;
    background-image: url(img/halo.png);
}
.body2{
  background-size: 50% 50%;
    background-image: url(img/halo.png);
}
div p2 a {
  color: white;
}
#boton2{
  background-color: red;
  color:black;
  box-shadow: 2px 2px;

}
#h3{
  color: white;
  text-align: center;
  margin-top: 22%;
  text-decoration:
}
#image{
  height: 200%;
  width: 200%;
}

#D{
  color: white;
}
#in{
  color: white;
}
#inicio{

}
#info{
  padding: 0px;
  border: 0px;
  color:black;
  height: auto;
  margin: auto;
  background-image:url(img/juego1.jpg);
  background-size: 100% 300% ;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
#info2{
  color: red;
}
#info3{
font-family:"Verdana";
margin-top: 10%;
}
#inicio{

}
#nombre{
  color: red;
  margin: 0 auto;
}
#enviar{
  background-color: blue;
  color: red;
}
